@inject NavigationManager navigationManager

@code{



    private void Close() 
    {
        navigationManager.NavigateTo("/logout");
    }

}


<div class="z-50 my-10 hidden w-60 list-none divide-y divide-gray-100 rounded-lg bg-white text-base shadow" id="user-dropdown">

    <div class="flex flex-col items-center justify-center px-4 py-3">


        <button type="button" class="mr-3 mt-1 flex rounded-full text-sm focus:ring-4 focus:ring-gray-300 md:mr-0" id="user-menu-button">
            <span class="sr-only">Open</span>
            <img class="h-12 w-12 rounded-full p-1 ring-2 ring-gray-300">
        </button>


        <div class="mt-1 flex flex-row items-center">
            <span class="block text-sm text-gray-900">Hola, @Access.Communication.Session.Instance.Account.Name</span>
        </div>

    </div>


    <div class="flex flex-row items-center justify-center px-4 py-3">

        <button class="h-7 w-7 rounded-lg bg-transparent p-1 hover:bg-gray-100 hover:p-2">
            <img src="img/Products/chat.png"/>
        </button>

        <button class="h-7 w-7 rounded-lg bg-transparent p-1 hover:bg-gray-100 hover:p-2">
            <img src="img/map.png"/>
        </button>

        <button class="h-7 w-7 rounded-lg bg-transparent p-1 hover:bg-gray-100 hover:p-2">
            <img src="img/cloud.png"/>
        </button>

        <button class="h-7 w-7 rounded-lg bg-transparent p-1 hover:bg-gray-100 hover:p-2">
            <img src="img/box.png"/>
        </button>

        <button class="h-7 w-7 rounded-lg bg-transparent p-1 hover:bg-gray-100 hover:p-2">
            <img src="img/products/calendar.png"/>
        </button>

        <button class="h-7 w-7 rounded-lg bg-transparent p-1 hover:bg-gray-100 hover:p-2">
            <img src="img/contactos.png"/>
        </button>

    </div>

    <ul class="py-2" aria-labelledby="user-menu-button">
        <li>
            <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Tablero</a>
        </li>
        <li>
            <a href="/settings" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Configuración</a>
        </li>

        <li @onclick="Close">
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Cerrar sesión</a>
        </li>
    </ul>
</div>