@inject IJSRuntime js

@code{


    [Parameter]
    public Types.Cloud.Identity.Abstracts.SessionModel<ProfileModel> Modelo { get; set; } = new();


    [Parameter]
    public Action<SessionModel<ProfileModel>> OnDelete { get; set; }

    string Img64 => Convert.ToBase64String(Modelo.Account.Profile);


    void A()
    {

    }

    protected override void OnAfterRender(bool firstRender)
    {
        js.InvokeVoidAsync("showPopover", $"popover-user-profile-{Modelo.Account.Id}", DotNetObjectReference.Create(this), $"img-prof-{Modelo.Account.Id}");
    }

    void Send()
    {
        OnDelete(Modelo);
    }

}


 @if (Modelo.Account.Profile.Length <= 0)
{
    <div @onclick="A" id="img-prof-@Modelo.Account.Id" class="inline-flex h-9 w-9 items-center justify-center rounded-full border border-zinc-100 bg-zinc-100 p-2 font-bold leading-none text-zinc-600 dark:border-zinc-400 dark:bg-zinc-900 dark:text-zinc-200">
        <label class="mt-0.5 h-max w-max content-center text-center text-sm lg:mt-0">@(Global.Utilities.Strings.GetInitials(Modelo.Profile.Alias))</label>
    </div>
}
else
{
    <img @onclick="A" id="img-prof-@Modelo.Account.Id" class="flex-shrink-0 ring-2 inline-block h-9 w-9 rounded-full ring-white dark:ring-gray-800" src="data:image/png;base64,@Img64" alt="Image Description">
}



<div id="popover-user-profile-@Modelo.Account.Id" role="tooltip" class="z-10 opacity-0 invisible absolute inline-block w-64 overflow-hidden rounded-lg border border-gray-200 bg-white text-sm text-gray-500 shadow-sm transition-opacity duration-300 dark:text-zinc-400 dark:bg-zinc-800 dark:border-zinc-600">
  
    <!-- Header -->
    <div class="border-b border-gray-200 px-4 py-3 dark:border-zinc-700">
        <div class="flex items-center gap-x-3">

            @if (Modelo.Account.Profile.Length <= 0)
            {
                <div class="inline-flex h-9 w-9 items-center justify-center rounded-full border border-zinc-100 bg-zinc-100 p-2 font-bold leading-none text-zinc-600 dark:border-zinc-400 dark:bg-zinc-900 dark:text-zinc-200">
                    <label class="mt-0.5 h-max w-max content-center text-center lg:mt-0">@(Global.Utilities.Strings.GetInitials(Modelo.Profile.Alias))</label>
                </div>
            }
            else
            {
                <img class="flex-shrink-0 ring-2 inline-block h-9 w-9 rounded-full ring-white dark:ring-gray-800" src="data:image/png;base64,@Img64" alt="Image Description">
            }

            
            
            <div class="grow">
                <h4 class="font-semibold text-gray-800 dark:text-zinc-200">
                    @Modelo.Account.Name
                </h4>
                <p class="-mt-1 text-sm text-gray-500 dark:text-zinc-300">
                    @@@Modelo.Account.Identity.Unique
                </p>
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- List -->
    <ul class="space-y-1 px-4 py-3">
      
        <li>
            <div class="inline-flex items-center gap-x-3 text-sm text-gray-800 dark:text-neutral-200">
                <svg class="flex-shrink-0 h-4 w-4 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="16" x="2" y="4" rx="2" /><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" /></svg>
                @Modelo.Account.Visibility.ToString()
            </div>
        </li>
    </ul>
    <!-- End List -->
    <!-- Footer -->
    <div class="flex items-center justify-between bg-gray-100 px-4 py-2 dark:bg-zinc-700">
        <a class="inline-flex items-center gap-x-1.5 text-xs text-gray-500 hover:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
            <svg class="flex-shrink-0 h-3 w-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z" /><line x1="4" x2="4" y1="22" y2="15" /></svg>
            Reportar
        </a>

        <button @onclick="Send" type="button" class="inline-flex items-center gap-x-2 rounded-full border border-transparent bg-red-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            Eliminar
        </button>
    </div>
    <!-- End Footer -->
</div>
