@inject IJSRuntime js

@* Componente *@
<div id="drawerEmma-@UniqueId"
    class="top-0 right-0 min-w-80 w-80 bg-white/50 fixed z-40 h-dvh max-h-dvh translate-x-full backdrop-blur-md transition-transform dark:bg-zinc-800/70"
    tabindex="-1" aria-labelledby="drawer-right-label">

    <LIN.Emma.UI.Emma @ref="DocEmma" />

</div>