
@* Control *@
<div class="py-3 px-5 fade-in flex animate-pulse select-none items-center transition-transform">

    <div class="flex w-full items-center">

        @* Foto de perfil. *@
        <div class="relative inline-block">
            <div class="w-10 h-10 bg-gray-200 p-2 text-zinc-600 inline-flex items-center justify-center rounded-full font-bold leading-none dark:bg-zinc-800 dark:text-zinc-200">
                <label class="mt-0.5 h-max w-max content-center text-center lg:mt-0"></label>
            </div>
        </div>

        @* Texto oculto. *@
        <div class="ml-3 flex flex-col">

            <label class="bg-gray-200 h-3 w-36 rounded-lg text-base font-bold dark:bg-zinc-800"></label>

            <div class="flex">
                <label class="mt-1 bg-gray-100 h-2 w-20 rounded-lg text-xs dark:bg-zinc-900"></label>
            </div>

        </div>

    </div>

</div>